<table id="t01">
 <tr>
     

<td>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Taylor Swift</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/motivate2.jpg" style="height: 200px; width: 200px;"  class="center" alt="Photo of a Taylor Swift">
        <mat-card-content>
            <p  style="text-align: center;">
                Taylor Swift was bullied by a group of popular girls at school after they decided she wasn't cool enough to hang around with any more because she liked country music. But the experience ended up being a positive one for the 'We Are Never Ever Getting Back Together' singer, who said it gave her motivation to write songs. She told that the same girls later went to watch her live in concert: "They showed up, wearing my T-shirts and asking me to sign their CDs. It was bittersweet, because it made me realize that they didn't remember being mean to me and that I needed to forget about it, too."
            </p>
          </mat-card-content>
        </mat-card>
</td>
<td>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Liam Payne</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/motivate3.jpg" style="height: 200px; width: 200px;text-align: center;"  class="center" alt="Photo of a Liam Payne">
        <mat-card-content>
            <p style="text-align: center;">
                The former member of One Direction revealed he was left at the hands of bullies when he left primary school (equivalent to elementary school in the UK.) He explained, “When I was at school I was bullied by a few people who were much older than me. I went and told my parents and teachers, but it didn’t stop so i had to sort it out myself.” He continued by saying, “I went to camp to learn how to box, and it gave me the confidence to know that if I needed to, I could fight back and I could stand up to anyone.”
            </p>
          </mat-card-content>
        </mat-card>
</td>
<td>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Selena Gomez</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/motivate6.jpg" style="height: 200px; width: 200px;text-align: center;"  class="center" alt="Photo of a Selena Gomez">
        <mat-card-content>
            <p style="text-align: center;">
                “I’ve had a lot of issues with depression and anxiety, and I’ve been very vocal about it,” she said, “but it’s not something I feel I’ll ever overcome.”1
                “I think it’s a battle I’m gonna have to face for the rest of my life, and I’m okay with that because I know that I’m choosing myself over anything else,” she continued. “I’m starting my year off with that thought. I want to make sure I’m healthy. If that’s good, everything else will fall into place.”Gomez underwent therapy, ate healthy meals and took pilates and meditation sessions. “She felt like she needed to get away and focus on herself with no distractions,”
            </p>
          </mat-card-content>
        </mat-card>
</td>
</tr> 
<tr>
    <td>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Daniel Radcliffe</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/images/motivate4.jpg" style="height: 200px; width: 200px;text-align: center;"  class="center" alt="Photo of a Daniel Radcliffe">
            <mat-card-content>
                <p style="text-align: center;">
                    "I wasn't the most popular kid in school," said Radcliffe, who tried to give as good as he got. "Because I'd been on set with some really genuinely witty people over the last few years, I could turn round to these idiots and at least try and tear them apart. They didn't like that. I'm not saying I was Oscar Wilde at 14, but I had a line for anything they could throw at me. "I'd never been one of the cool kids [but] you realize that all the kids who were really cool at your school were actually scuzzy and horrible and boring. The nerds are the ones that make the films and do loads of other really cool stuff in their life."
                </p>
              </mat-card-content>
            </mat-card>
    </td>
        <td>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Zayn Malik</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/images/motivate5.jpg" style="height: 200px; width: 200px;text-align: center;"  class="center" alt="Photo of a Zayn Malik">
                <mat-card-content>
                    <p style="text-align: center;">
                        Zayn has taken the brave path of doing it alone in his singing career, but the road to success hasn’t been an easy one. Regardless of his immediate solo success, the “Pillow Talk” singer has learned the hard way when to put his foot down and mental health first, cancelling concerts when necessary. The former One Direction singer most recently discussed his struggles with mental illness in a Vogue video. "I'm not a very outgoing, social person, like in terms of big groups of people," Malik said. This isn’t the first time the British singer has spoken out on personal issues. The songwriter gave an in-depth look into the way his mind spirals by sharing an excerpt of his self-titled book with Time in 2016.
                    </p>
                  </mat-card-content>
                </mat-card>
        </td>
        <td>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Justin Bieber</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="/assets/images/motivate7.jpg" style="height: 200px; width: 200px;text-align: center;"  class="center" alt="Photo of a Daniel Radcliffe">
                <mat-card-content>
                    <p style="text-align: center;">
                        "Justin Bieber says he first smoked marijuana at 13-years-old, which he became “dependent” on through his teens. It eventually progressed to much more lethal substances, with the 25-year-old recalling, “There was a time when I was sipping lean, popping pills, doing Molly, shrooms, everything.”started valuing the wrong things in this business, because there was things dangling in front of me,” he says of that time in his life. “If I get this, I’ll be happy. If I do this, I’ll be happy. These are things that I think a lot of people with secure households learn at a young age. I never heard that security in a family. I never had that consistency. I never had the reliability and the accountability.”"
                    </p>
                  </mat-card-content>
                </mat-card>
        </td>
</tr>

</table>
