<div class="jumbotron" style="background-image:url('/assets/images/teens.jpg') ; height: 300px;background-position: center;background-repeat: no-repeat;background-size: cover;">
    
</div>
<progress-bar [progress]="id" [color]="'#488aff'">
</progress-bar>
<br style="text-align: center;" >
<div>
<p style="text-align: center;padding:40px;color: brown;">{{content}}</p>
</div>
<div style="padding:20px">
  <p style="font-size:medium"><b>Recommended Books</b></p>
  <table>
      <tr>
          <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/charms and strange.jpg" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">CHARMS AND STRANGE</p>
     </div>
 </div>
              </td>
   <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/girl against the universe.jpg" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">GIRL AGAINST THE UNIVERSE</p>
     </div>
 </div>
  </td>
   <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/book2.jpg" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">WINGS OF FIRE</p>
     </div>
 </div>
  </td>
 <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/its kind of a funny story.jpg" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">ITS KIND OF FUNNY STORY</p>
     </div>
 </div>
  </td>
 <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/life inside my mind.jpg" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">LIFE INSIDE MY MIND</p>
     </div>
 </div>
  </td>
 <td>
  <div class="card" style="width: 10rem;">
     <img class="card-img-top" src="/assets/images/the perks of being a wallflower.png" alt="Card image cap">
          <div class="card-body">
      <p class="card-text">THE PERKS OF BEING A WALLFLOWER</p>
     </div>
 </div>
  </td>
          </tr>
 </table>
</div>
<br />

