<div style="background-image:url('/assets/images/back_image2.jpg') ; height:50%;padding-top:100px;background-position: center;background-repeat: no-repeat;background-size: cover">
<h1 style="color:blueviolet; margin-left: 100px">Mental Health-</h1>
   <p style="margin-right: 100Px; margin-left: 100px;"> Mental health refers to cognitive, behavioural, and emotional well-being. It is all about how people think, feel, and behave. Mental health is “more than just the absence of mental disorders or disabilities.” Peak mental health is about not only avoiding active conditions but also looking after ongoing wellness and happiness. Bad mental health acts as a hinderance to a happy and a fulfilling life.
 </p>
 <br>

    <h1 style="color:blueviolet; margin-left: 100px; margin-right: 100px;"> PROBLEMS FACED BY TEENS</h1>
    <ul style="margin-left: 100px; margin-right: 100px;">
	<li>Teens go through many social problems like teen Violence, Cyberbullying (Online Bullying), Internet & Online Addiction</li>
    <li>  They also go through many disorders like Eating Disorders & Anorexia, are some of them resulting in teenage suicide. </li>
<li>	ACADEMIC STRESS	Students face various academic problems including exam stress, disinterest in attending classes etc. Academic stress involves mental distress regarding anticipated academic challenges or failure </li>
<li>	Parental pressure and expectations are also a major reason </li>
<br>
</ul>

    <h1 style="color:blueviolet; margin-left: 100px; margin-right: 100px;">   Stress Hormone </h1>
    <ul  style="margin-left: 100px; margin-right: 100px;">
        <li>	When students experience an academic setback, the amount of cortisol in their bodies typically spikes.</li>
                <li>	It boost motivation and decision-making</li>
                    <li>	But with   chronic stress, high cortisol levels can instead impair brain functioning and suppress the immune system.</li>
</ul>

<img src="/assets/images/Key terms1.png" class="center"  height="230" width=60>
<br>
<p style="margin-left: 100px; margin-right: 100px;">
    Adolescent brains is more sensitive to the stress hormone cortisol and may feel its effects more quickly as the part of the brain that is responsible for shutting down the stress response i.e. prefrontal cortex, is less developed in adolescents, 
<p style="color:crimson;margin-left: 100px; margin-right: 100px;">There are two types of stress- </p>
<ul style="margin-left: 100px; margin-right: 100px;">
<li>Stress due to negative experiences like death of a relative etc, are related to the faster maturation of prefrontal cortex</li>
<li>Stress due to negative social environment like low self esteem, are related to the slower maturation of the parts of the brain.</li>
</ul>
<img src="/assets/images/Key terms2.png" class="center" height="200" width="60">

    <h1 style="color:blueviolet;margin-left: 100px; margin-right: 100px;">Diseases</h1>
   
    <h4 style="color:crimson;margin-left: 100px; margin-right: 100px;"> 1) Obesity</h4>
     <p style="margin-left: 100px; margin-right: 100px;">A disorder involving excessive body fat that increases the risk of health problems.</p>
    

<img src="/assets/images/key terms3.jpg" class="center" height="200" width="60">

    <h4 style="color:crimson ;margin-left: 100px; margin-right: 100px;"> 2) High Blood Pressure</h4>
    <p style="margin-left: 100px; margin-right: 100px;">A condition in which the force of the blood against the artery walls is too high.</p>

<img src="/assets/images/Key terms4.jpg" class="center" height="200" width="60">

<h4  style="color:crimson ;margin-left: 100px; margin-right: 100px;"> 3) Diabetes</h4>
 <p style="margin-left: 100px; margin-right: 100px;">Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy.
</p>
<img src="/assets/images/Key terms5.jpg" class="center" height="200" width="60">
<h4  style="color:crimson;margin-left: 100px; margin-right: 100px"> 4) Heart Diseases</h4> 
<p style="margin-left: 100px; margin-right: 100px;">Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.
</p>
<img src="/assets/images/Key terms6.jpg"class="center" height="200" width="60">
<h4  style="color:crimson;margin-left: 100px; margin-right: 100px">5) Depression</h4>
<p style="margin-left: 100px; margin-right: 100px;">A group of conditions associated with the elevation or lowering of a person's mood, such as depression or bipolar disorder
</p>
    <img src="/assets/images/Key terms7.jpg" class="center" height="200" width="60">
    <h4  style="color:crimson;margin-left: 100px; margin-right: 100px">6)Feeding and Eating Disorders</h4>
    <p style="margin-left: 100px; margin-right: 100px;">Another group of disorder which are special interest to young people are eating disorders.These Includes Anorexia Nervosa , Bulimia Nervosa and Binge Eating.
    </p>
        <img src="/assets/images/key11.jpg" class="center" height="220" width="50">
    <h4 style="color:darkmagenta;margin-left: 100px; margin-right: 100px;">Symptoms</h4>
<p style="margin-left: 100px; margin-right: 100px;">Signs and symptoms of mental illness can vary, depending on the disorder, circumstances and other factors. Mental illness symptoms can affect emotions, thoughts and behaviors.
Examples of signs and symptoms include:</p>
<ul style="margin-left: 100px; margin-right: 100px;">
    <li>Feeling sad or down</li>
    <li>	Confused thinking or reduced ability to concentrate</li>
        <li>	Excessive fears or worries, or extreme feelings of guilt</li>
            <li>	Extreme mood changes of highs and lows</li>
                <li>	Withdrawal from friends and activities</li>
                    <li>	Significant tiredness, low energy or problems sleeping</li>
                        <li>	Detachment from reality, delusions or hallucinations</li>
                            <li>	Inability to cope with daily problems or stress</li>
                                <li>	Trouble understanding and relating to situations and to people</li>
                                    <li>	Problems with alcohol or drug use</li>
                                        <li>	Major changes in eating habits</li>
                                            <li>	EXCESSIVE ANGER</li>
                                                <li>	Suicidal thinking</li>
</ul>
<p style="margin-left: 100px; margin-right: 100px;">Sometimes symptoms of a mental health disorder appear as physical problems, such as stomach pain, back pain, headaches, or other unexplained aches and pains.
    Who is at risk for mental disorders?
    Mental disorders are common. More than half of all Americans will be diagnosed with a mental disorder at some time in their life.
    What are some types of mental disorders?</p>
<p style="margin-left: 100px; margin-right: 100px">What are the treatments for mental disorders? </p>

       
    <h4 style="color: darkred; margin-left: 100px; margin-right: 100px;">There are many different types of mental disorders. Some common ones include</h4>
    <ul style="margin-left: 100px; margin-right: 100px;">
    <li>Anxiety disorders, including panic disorder, obsessive-compulsive disorder, and phobias</li>
    <li>Depression, bipolar disorder, and other mood disorders</li>
    <li>Eating disorders</li>
    <li>Personality disorders</li>
    <li>Post-traumatic stress disorder</li>
    <li>Psychotic disorders, including schizophrenia</li>
    </ul>
    <p style="color: darkred; margin-left: 100px; margin-right: 100px;">How are mental disorders diagnosed?
    The steps to getting a diagnosis include</p>
    <ul style="margin-left: 100px; margin-right: 100px;">
    <li>A medical history</li>
    <li>A physical exam and possibly lab tests, if your provider thinks that other medical conditions could be causing your symptoms</li>
    <li>A psychological evaluation. You will answer questions about your thinking, feelings, and behaviors.</li>
    <li>Medication paired with psychotherapy is the most effective way to promote recovery.</li>
    </ul>
    <h1 style="color:blueviolet;margin-left: 100px; margin-right: 100px">MEDICATION</h1>    
    <p style="margin-left: 100px; margin-right: 100px">Treatment depends on which mental disorder you have and how serious it is. You and your provider will work on a treatment plan just for you. It usually involves some type of therapy. You may also take medicines. Some people also need social support and education on managing their condition.
    </p>
    <img src="/assets/images/key terms9.jpg" class="center" height="250" width="70">
    
    <p  style="margin-left: 100px; margin-right: 100px">Psychotherapy is the therapeutic treatment of mental illness provided by a trained mental health professional in case of chronic stress</p>

        <h1 style="color:blueviolet;margin-left: 100px; margin-right: 100px">HAVING A SUPPORT NETWORK</h1>
      <ul style="margin-left: 100px; margin-right: 100px;">
          <li>Having a support network, whether via self-help groups or close friends and family, teachers, can also be essential to recovery from mental illness.</li>
          <li> Supportive and close family relationships protect teens from risky behaviour like alcohol and other drug use, and problems like depression.</li>
    </ul>   
     <h1 style="color:blueviolet;margin-left: 100px; margin-right: 100px">   BE POSITIVE</h1>
       <p style="margin-left: 100px; margin-right: 100px"> Always remember you are braver than you believe stronger than you seem smarter than you think and twice as beautiful as you'd  ever imagined
    </p>
        <img src="/assets/images/key terms10.jpg" class="center" height="250" width="70">
</div>>
