<div style="background-image:url('/assets/images/back_image2.jpg') ; height:100%;padding-top:100px;background-position: center;background-repeat: no-repeat;background-size: cover;;">
<div style="text-align: center;">
    <h1>Our Team Contacts</h1>
    <b>
      <p>SRM UNIVERSITY</p> 
      <p>KATTANKULATHUR</p>
       <p> Chennai</p>
           603203
    </b>
</div>
    <br><br><br>
    <div style="text-align: center;">
        <strong>Support:        </strong> <a href="mailto:dakshita.bhardwaj@ais.amity.edu">  Dakshita Bhardwaj</a><br />
        <strong>Marketing:      </strong> <a href="mailto:snehil.anand@ais.amity.edu">   Snehil Anand</a><br />
         <strong>Research:      </strong> <a href="mailto:kashvi.goel@ais.amity.edu">   Kashvi Goel</a> <br/>
        <strong>Support:        </strong>   <a href="mailto:ishita.goel@ais.amity.edu">   Ishita Goel</a><br />
        <strong>Support:        </strong>   <a href="mailto:shriya.bansal@ais.amity.edu">  Shriya Bansal</a><br />
        <strong>Support:        </strong>   <a href="mailto:jahnavi.nair@ais.amity.edu">   Jahnavi.Nair</a><br />

    </div>>
</div>
