<div class="row" style="padding-top:60px;">
    <div class="column">
      <div class="card">
        <p><i class="fa fa-user"></i></p>
        <h3><b>My Story</b></h3>
        <p><b>Poet: Julie Hebert, © 2017 </b>.</p>
        <p> The bases are the same here.</p>
       <p> I've had ups and downs like any other,</p>
       <p>  I've had things I love disappear.</p> 
         
        <p> I've made mistakes like any other.</p>
       <p>  And from them I've learned many things.</p>
       <p>  In life there are no for sure reasons,</p>
       <p>  You must learn to fly once you get wings.</p>
         
       <p>  But just because my story,</p>
       <p>  Isn't as unique as I'd yearned.</p>
       <p>  That doesn't mean I'm not worthily,</p>
        <p> I've gotten what I have earned.</p>
         
       <p>If you want your life to be fulfilling,</p>  
       <p>  You have to believe in yourself.</p>
       <p>  Put yourself out there and be thrilling,</p>
       <p>  Never be someone else!</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <p><i class="fa fa-check"></i></p>
        <h3><b>If By Rudyard Kipling</b></h3>
        <p>If you can keep your head when all about you</p>
          <p> Are losing theirs and blaming it on you;</p>
           <p>If you can trust yourself when all men doubt you,</p> 
           <p>But make allowance for their doubting too:</p> 
            <p>If you can wait and not be tired by waiting,</p>
            <p>Or, being lied about, don't deal in lies,</p> 
             <p> Or being hated don't give way to hating,</p> 
           <p>And yet don't look too good, nor talk too wise;</p>
         <p>
         If you can dream - and not make dreams your master;
        If you can think - and not make thoughts your aim,
    If you can meet with Triumph and Disaster
    And treat those two impostors just the same:.
    If you can bear to hear the truth you've spoken
    Twisted by knaves to make a trap for fools,
    Or watch the things you gave your life to, broken,
    And stoop and build'em up with worn-out tools;</p>
    
    <p>If you can make one heap of all your winnings
    And risk it on one turn of pitch-and-toss,
    And lose, and start again at your beginnings,
    And never breathe a word about your loss:
    If you can force your heart and nerve and sinew
    To serve your turn long after they are gone,
    And so hold on when there is nothing in you
    Except the Will which says to them: "Hold on!"</p>
    <p>If you can talk with crowds and keep your virtue,
        Or walk with Kings - nor lose the common touch,
        If neither foes nor loving friends can hurt you,
        If all men count with you, but none too much:
        If you can fill the unforgiving minute
        With sixty seconds' worth of distance run,
        Yours is the Earth and everything that's in it,
        And - which is more - you'll be a Man, my son!</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <p><i class="fa fa-smile-o"></i></p>
        <h3><b>The Oceans Shore</b></h3>
        <p>As I walk along the oceans shore
            The feeling of peace, longing for more
            As I sit upon soft wet sand
            The gentle waves, touch my hand
            This Aura of wonder and tranquility
            Stretching as far as my eyes can see
            Watching the reflections move with the flow.</p>
            
            <p>Feeling the comfort, of its inner glow
            Oh how I wish, this feeling would stay
            As I know I must walk away
            Wish I could leave all the hurt, pain and tears
            Behind me along, with all my fears
            Wouldn't it be nice, if we could leave on that shore
            Feelings that keep in our hearts, ever more
            If I wrote them in the sand, would they be swept away?</p>
            
           <p> By the waves crashing in, Gone on their way
            Leaving us free, of DOUBTS and DESPAIR
            The ocean will handle them, then we won't care
            The ocean can be such a beautiful place
            As our minds wonder in and out of space.</p>
            
          <p> I think that I already know
            We reap whatever we did sow
            I will keep looking, forever more
            But not what I wrote,on that OCEANS SHORE.
            </p>
      </div>
    </div>