
<footer class="page-footer font-small Indigo pt-4" style="background-color:rebeccapurple; color: white;position:relative;bottom: 0 ;width:100%;">
        <!-- Footer Links -->
    <div class="container-fluid text-center text-md-center"  >
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Course</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" style="color: pink; font-size: small;"><i>FAQs</i></a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Testimonials</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">For Individuals</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">For Healthcare</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Company</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Teen.ly Health</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Latest Research</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">About Us</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Contact</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Support</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Term and Conditions</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Privecy Policy</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Accessibilty Statement</a>
            </li>
            <li>
              <a href="#!"  style="color: pink; font-size: small;">Team Info</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 - All rights reserved. © 2020 Teen.ly Health. This is owned and operated by Amity Students.
      
    </div>
    <!-- Copyright -->
  </footer>
