<div style="background-image:url('/assets/images/back_image2.jpg');height:90%;padding-top:100px;background-position:center;background-repeat:no-repeat;background-size:cover;">
<h1 style="margin-left: 100px;margin-right: 100px; color: brown;">Teenagers Brain</h1>
<p style="margin-left: 100px;margin-right: 100px;">Recent research has found that adult and teen brains work differently. Adults think with the prefrontal cortex, the brain’s rational part. 
   This is the part of the brain that responds to situations with good judgment and an awareness of long-term consequences. Teens process information with the amygdala. 
   This is the emotional part.</p>
   <h2 style="margin-left: 100px;margin-right: 100px; color: brown;">From Childhood To Adolescence To Adulthood</h2>
   <p>
      <img src="/assets/images/Mental3.jpg" class="center">
   </p>
   <p style="align-content: center ;margin-left: 100px;margin-right: 100px;">
      In this series of brain scans taken from age 5 through age 20, blue areas indicate more mature and efficient networks within the brain. In mid-to-late adolescence, the brain rapidly matures, beginning with spacial perception (centre line visible from the top). The front areas associated with critical thinking and planning continue to develop through the teenage years to the early 20s, and the temporal lobe, located in the bottom curve and associated with learning and memory, is among the last areas to fully mature.
   </p>
   <p style="align-content: center ;margin-left: 100px;margin-right: 100px;color: brown;">Some Unknown Facts!</p>
   <ul style="margin-left: 100px;margin-right: 100px;"> 
<li>Prefrontal Cortex is the rational part of the brain which is less developed in teenagers. </li>
<li>Amygdala is associated with emotion, impulse, instinct, and aggression.  </li>
<li>The limbic system is responsible for rewardseeking behaviour. </li>
</ul>
<p style="align-content: center ;margin-left: 100px;margin-right: 100px;">
<b>Due to this interdependence, it becomes difficult for them to articulate their emotions or to explain their reasons for behaving in a certain way. 
</b></p>
<p>
<img src="/assets/images/Mental1.gif" class="center">
</p>
<p>
<img src="/assets/images/Mental2.jpg" class="center">
</p>
</div>